# Root ignores
/.nuget/
/data/
/tmp/
/artifacts/

# Global ignores
bin/
obj/
.vs/
*.csproj.user
*.pubxml.user
*.sqlproj.user
*.pptx

# Custom ignores
/tools/Lefty.Schematron.Cli/*.cmd
/tools/Lefty.Schematron.Cli/*.sch
/tools/Lefty.Schematron.Cli/*.xml
/tools/Lefty.Schematron.Cli/*.xslt

# eof
